node_modules/
mobile/node_modules/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/local.properties
mobile/android/.idea/
mobile/android/captures/
mobile/android/*.iml
mobile/android/capacitor-cordova-android-plugins/
mobile/android/app/src/main/assets/public/
mobile/android/app/src/main/assets/capacitor.config.json
mobile/android/app/src/main/assets/capacitor.plugins.json
mobile/android/app/src/main/res/xml/config.xml
*.log
*.apk
*.aab
